@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
}

#app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f6f6f6;
    font-family: "Kanit", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100%;
    background-color: transparent;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65vw;
    height: auto;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
    }
    .block {
        width: 35vw;
    }
}